<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
    <div class="container">
      <!--<a class="navbar-brand" [routerLink]="['/']">IOT-Demo</a>-->
      <!--<a class="navbar-brand">RENESAS</a>-->
      <img src="assets/images/header.png" alt="logo" class="logo" width="183">
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
           [ngClass]="{ show: isExpanded }">
        <!--<ul class="navbar-nav flex-grow">
      <li class="nav-item"
          [routerLinkActive]="['link-active']"
          [routerLinkActiveOptions]="{ exact: true }">-->
        <!--<div>
      <a class="nav-link" (click)="LogOut()" [routerLink]="['/']">Logout</a>
    </div>-->
        <!--</li>-->
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
      <a class="nav-link text-dark" [routerLink]="['/counter']"
        >Counter</a
      >
    </li>-->
        <!--<li class="nav-item" [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/fetch-data']">Fetch data</a>
      </li>
    </ul>-->

        <button mat-raised-button class="btn btn-log" (click)="logOut()">
          Logout
        </button>

      </div>
    </div>
  </nav>
</header>
<!--<footer>
  <a>&copy; 2022 aksa-sds.com</a>
</footer>-->
