.mat-form-field {

    font-size: 12px;
}

.btn-log:hover {
  background-color: #0e9cac;
}

.container {
  width: 100%;
}
.mat-form-field-infix{
  margin: 0px;
}
.mat-row .mat-column-deviceId{
  font-weight: bold;
  color: #29289d;
}
