<div class="container">
  <mat-toolbar>
    <mat-toolbar-row>
      <!--<mat-icon>subject</mat-icon>-->

      <div class="col-9">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" id="filterEelement" placeholder="Enter to search...">
          <!--<mat-icon>search</mat-icon>-->
        </mat-form-field>
      </div>

      <div class="col-3">
        <button mat-raised-button class="btn btn-primary" (click)="addDevice()">
          <!--<mat-icon>add</mat-icon>-->
          Add Device
        </button>
        <button mat-raised-button class="btn btn-primary" (click)="onRefersh()">
          <!--<mat-icon>add</mat-icon>-->
          Refresh
        </button>

        <!--<button mat-raised-button class="btn btn-log" (click)="logOut()">-->
          <!--<mat-icon>add</mat-icon>-->
          <!--Logout
        </button>-->
      </div>

</mat-toolbar-row>
  </mat-toolbar>
  <div class="row mt-4">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

      <div class="mat-elevation-z8">

        <table mat-table *ngIf="datasource" [dataSource]="datasource" matSort class="table" id="excel-table">

          <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">

            <mat-header-cell *matHeaderCellDef mat-sort-header [style.min-width]="column?.width"
                             [style.max-width]="column?.width" [style.display]="column?.hide === true ? 'none' : ''">
              {{ column.header }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.min-width]="column?.width" [style.max-width]="column?.width">
              <div *ngIf="column.columnDef !== 'action'">
                {{column.cell(row)}}

              </div>

              <div *ngIf="column.columnDef === 'action'" class="table-edit">
                <a style="cursor: pointer;" (click)="viewDevice(row)" matTooltip="View Device">
                  <mat-icon>view_list</mat-icon>
                </a>
              </div>


            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumn; sticky:true"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumn;" (mouseover)="row.hovered = true"
                   (mouseout)="row.hovered = false" [ngClass]="{hovered: row.hovered,  highlighted: selection.isSelected(row)}"
                   (click)="selection.select(row)" class="element-row" matRipple></mat-row>
        </table>
      </div>
      <mat-paginator pageSize="10" [pageSizeOptions]="[5, 10, 20, 50, 100, 500]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
  </div>
