
  <div header title="Upload Device">
    <!--<ng-container ktPortletTools>
    </ng-container>-->
  </div>

    <!--begin::Form-->
    <div>
      <form [formGroup]="bulkUploadForm" class="kt-form kt-form--group-seperator-dashed">

        <!--<kt-alert *ngIf="invalidFileFormat" type="warn" [showCloseButton]="true" [duration]="10000" (close)="onAlertClose($event)">
          Please upload only Excel and CSV file
        </kt-alert>-->
        <div class="kt-form__section kt-form__section--first">
          <div class="form-group kt-form__group row">

            <div class="col-lg-4 kt-margin-bottom-20-mobile">
              <input #fileInput type="file" class="form-control" (click)="clearFile()" (change)="addfile($event)" placeholder="Upload file" accept=".csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
              <mat-hint>Upload only Excel and CSV files</mat-hint>
            </div>

            <div class="col-lg-4 kt-margin-bottom-20-mobile">
              <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="uploadData()">
                <span class="kt-hidden-mobile">Upload</span>
              </a>
              <a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="reset()" >
                <span class="kt-hidden-mobile">Reset</span>
              </a>
            </div>
            <div class="col-lg-4 kt-margin-bottom-20-mobile">
              <strong><a href="/assets/samples/upload-device-sample.xlsx" target="_self">Download Sample File</a></strong>
            </div>
          </div>
          </div>
      </form>
    </div>
    <div>
      <div class="form-group kt-form__group row">
        <div class="col-lg-12 kt-margin-bottom-20-mobile" style="overflow-x: auto;">
          <table class="table">
            <thead>
              <tr>
                <th>Device ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Make</th>
                <th>Version</th>
                <th>Sensors</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of uploadDeviceModelList">
                <td>{{item.deviceId}}</td>
                <td>{{item.name}}</td>
                <td>{{item.description}}</td>
                <td>{{item.make}}</td>
                <td>{{item.softwareVersion}}</td>
                <td>{{item.sensorsName}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--end::Form-->

